// Navigation breakpoints
.desktop-menu, .top-bar-left {
  @include show-for(large);
}

#mobile-menu, .title-bar {
  @include hide-for(large);
}

// Mobile menu
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}
.dashicons {
  cursor: pointer;
}
.title-bar {
  .dashicons-menu {
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    width:56px;
    margin: 0;
    background-color: $medium-charcoal;
    top: 0;
    right:0;
    z-index:20;
    &:before {
      width: 56px;
      height:56px;
      font-size: 30px;
      line-height: 56px;
    }
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

// Tablet and desktop menu
.top-bar {
  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e;
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }

  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

// Text meant only for screen readers. Addresses part of theme-check issue #840.
// https://github.com/Automattic/_s/blob/master/style.css
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.property-search {
  display:block;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #272727;
  text-align: center;
  position: absolute;
  top: 56px;
  left: 0;
  text-transform: uppercase;
  &:visited,
  &:active,
  &:link {
    color: #272727;
  }
  &:hover {
    color: #a9a8a8;
  }
}
