/* Map on area search page */
#varsha-area-map {
	background: url('images/area-map-bg.jpg') no-repeat center center;
	background-size: cover;
	height: 493px;
	width: 1000px;
	max-width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	p {
		text-align: center;
		margin:0;
		padding: 0;
		a {
			font-size: 1rem;
			display: block;
			padding: 1rem 0.5rem;
			background-color: rgba($primary-color, 0.6);
			color: $white;
			border-radius: 6px;
			margin: 2rem 0;
			text-transform: uppercase;
			&:hover {
				background-color: $primary-color;
			}
		}
		@media #{$medium-up} {
			a {
				font-size: .8rem;
				padding: 0.25rem 0.5rem;
				margin: 0;
			}
			position: absolute;
			&#tv {
				top: 320px;
				left: 185px;
			}
			&#westbank_north {
			    top: 370px;
			    left: 150px;
			}
			&#westbank_south {
				top: 410px;
				left: 10px;
			}
			&#west_of_jackson {
			    top: 445px;
			    left: 180px;
			}
			&#jackson {
				top: 535px;
				left: 335px;
			}
			&#south {
			    top: 520px;
			    left: 100px;
			}
			&#north {
				top: 350px;
				left: 540px;
			}

		}
	}
}

.area-map-outer-container {
	@include breakpoint(large) {
		padding: 4rem 0 4rem 4rem;
	}

	padding: 2rem 0 0 0;
}

.page-template-page-area-map {
	#page-full-width {
		margin-bottom: 0;
	}

	.instructions {
		display: none;
	}

	&.page-id-30 {
		.instructions {
			padding: 0.5rem 1rem;
			display: block;
		}
	}
}

h1.area-map-title {
	margin-bottom: -0.4rem;
	line-height: 1;
	color: $light-gray;
	letter-spacing: 4px;
	line-height: 1;
	text-align: left;
	padding-left: 1rem;

  	@media #{$large-up} {
  		padding-left: 0;
	}
}

.area-map-links-container {
	display: flex;
	justify-content: flex-end;
}

#area-map {
	width: 1260px;
	max-width: 100%;
}

.area-map-links {
	background-image: url('images/area-button-bg.jpg');
	background-size: cover;
	width: 280px;
	flex: 0 1 280px;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	div,a {
		text-align: center;
		color: white;
		flex: 1 1;
		width: 100%;
		display:flex;
	  flex-direction: column;
	  justify-content: center;
	}
	a {
		text-transform: uppercase;
		font-size: .8rem;

		&:hover,
		&.current-map-area-link,
		&.active-hover {
			background-color: rgba($white,0.3);
		}
	}
	div {
		text-transform: uppercase;
		color: white;
		font-size: 1.4rem;
		font-family: "trumpgothicpro", sans-serif;
		font-weight: 700;
		margin-top: .25rem;
	}
}

.area-buttons {
	background-image: url('images/area-button-bg.jpg');
	background-size: cover;
	width: 225px;
	float: right;
	text-align: center;
	padding: 1rem 0;

	.neighborhood-middle {
		h3 {
			color: $white;
			border-bottom: 1px solid $light-gray;
			margin: 0;
			padding-bottom: 1rem;
		}
	}

	h6 {
		text-transform: uppercase;
		width: 100%;
		border-bottom: 1px solid $light-gray;
		margin: 0;
		padding: 1rem;

		&:hover {
			background-color: rgba(169,168,168, 0.3);
		}

		a {
			color: $white;
			padding: 1rem;
		}
	}
}

.area-properties-title {
	position:relative;
	text-align: center;
	background: rgba(236,235,236,0);
	background: -moz-linear-gradient(top, rgba(236,235,236,0) 0%, rgba(236,235,236,0.5) 50%, rgba(236,235,236,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,235,236,0)), color-stop(50%, rgba(236,235,236,0.5)), color-stop(100%, rgba(236,235,236,1)));
	background: -webkit-linear-gradient(top, rgba(236,235,236,0) 0%, rgba(236,235,236,0.5) 50%, rgba(236,235,236,1) 100%);
	background: -o-linear-gradient(top, rgba(236,235,236,0) 0%, rgba(236,235,236,0.5) 50%, rgba(236,235,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,235,236,0) 0%, rgba(236,235,236,0.5) 50%, rgba(236,235,236,1) 100%);
	background: linear-gradient(to bottom, rgba(236,235,236,0) 0%, rgba(236,235,236,0.5) 50%, rgba(236,235,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecebec', endColorstr='#ecebec', GradientType=0 );
	color: $primary-color;
	font-family: "trumpgothicpro", sans-serif;
	font-weight: 700;
	font-size: 1.5625rem;
	padding: 0 1.5rem 1.5rem;
	text-transform: uppercase;

	@media #{$small-only} {
		font-size: 1.25rem;
	}
}
.area-properties-title-arrow {
	position:relative;
	left: 50%;
	top: 0;
	transform:translate(-36px,0);
	width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 24px solid rgb(236,235,236);
	margin-bottom: 2rem;
}
.area-properties-inner {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
}
.area-properties-view-name {
  color: $light-gray;
  letter-spacing: 4px;
  line-height: 0;
  text-align: right;
	margin:0;
	transform: translateY(28px);
}
.view-properties-dropdown {
	width: 100%;
	> li {
		width: 100%;
		display: block;
		.placeholder-text {
			padding: 20px;
			background: rgba(0,0,0,.8) url(images/dropdown-bg.jpg);
			color: white;
			text-transform: uppercase;
			font-size: 1.2rem;
			&:after {
				content: "\f347";
				font-family: "dashicons";
				text-align:right;
				float:right;
				transition: transform 0.5s;
			}
		}
		&.is-active {
			.placeholder-text {
				&:after {
					transform: rotate(180deg);
				}
			}
		}
		.submenu {
			width: 100%;
			text-transform: uppercase;
		}
	}
}
