/* Pagination */
ul.pagination {
	font-family: "trumpgothicpro", sans-serif;
	font-weight: 700;

	li.current {
		color: $blue;
		background: $white;

		a {
			color: $blue;
		}
	}

	a {
		color: $medium-gray;
		padding: 0.125rem;

		&:hover {
			color: $blue;
			background: $white;
		}
	}
}

/* Posts Category Pages */
.posts-page-image {
	margin-right: 2rem;
	margin-bottom: 2rem;
	width: 300px;
	float: left;
	clear: both;
}

.blogpost-entry {
	margin-bottom: 2rem;
	clear: both;

	header {
		line-height: 1;
		margin-bottom: 1rem;
		font-size: 0.9rem;

		h2 {
			margin-bottom: 0;
			font-family: "europa", sans-serif;
			font-size: 1.25rem;
			letter-spacing: 1px;
		}
	}
}

/* Blog Posts Page */
.post.hentry {
	margin-bottom: 2rem;
	clear: both;

	.wp-post-image {
		margin-right: 2rem;
		margin-bottom: 2rem;
		float: left;
		clear: both;
		max-width: 300px;
		
		@media #{$small-only} {
			max-width: 100%;
			float: none;
			margin: 0 auto 1rem;
		}
	}

	h1.entry-title a {
		color: $light-gray;
	}

	h2.entry-title {
		margin-bottom: 0;
		font-family: "europa", sans-serif;
		font-size: 1.25rem;
		letter-spacing: 1px;
	}

	h4.entry-title {
		color: $blue;
		letter-spacing: 0;
	}

	.entry-date {
		line-height: 1;
		margin-bottom: 1rem;
		font-size: 0.9rem;
	}

	a.read-more {
		margin-top: 1rem;
		display: block;
		font-family: "trumpgothicpro", sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.5px;
		font-size: 1rem;
	}
}

.single-post {
	.entry-content {
		text-align: justify;
	}
	
	h1.entry-title {
		line-height: 1;
	}

	.content-column.one_half img {
	    position: absolute;
	    left: 0;
	    top: 0;
	}

	.post.hentry .wp-post-image {
		width: 600px;
		max-width: 100%;
		
		@media #{$medium-only} {
			width: 350px;
			max-width: 40%;
		}
	}

	#featured-hero {
		background-image: url('http://mattvarsha.wpengine.com/wp-content/uploads/2016/11/News-_Events-Hero-Image_web.jpg');
	}
}

.form-allowed-tags{
	display:none;
}
