/* Fonts */
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: "trumpgothicpro", sans-serif;
	font-weight: 700;
}

h1.entry-title {
	color: $light-gray;
	letter-spacing: 4px;
}

h2 {
	color: $light-gray;
	letter-spacing: 3px;
}

h4, h5 {
	color: $blue;
}

h5 {
	font-size: 1.15rem;
}

.button, button {
	background-color: $blue;
	color: $white;
	text-transform: uppercase;
	font-family: "trumpgothicpro", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
}

a {
	color: $blue;

	&:hover {
		color: $medium-gray;
	}

	&:focus {
		color: $medium-gray;
	}
}

p {
	font-size: .9rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $dark-gray;
	font-weight: 500;
}
