/* Footer */
#footer-container {
	background-image: url('images/footer-bg.jpg');
	background-size: cover;
	color: $white;
	margin-top: 0;

	#footer {
		padding: 1.875rem 0 0;

		@media #{$large-up} {
			padding: 1.875rem 1.25rem;
		}
	}

	.small-12 {
		&.column, .columns {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.footer-left {
		.widget {
			display: inline-block;
			vertical-align: top;
			float: left;

			@media #{$medium-only} {
				.alignleft {
					float: right;
				}
			}

			@media #{$small-only} {
				display: block;
				text-align: center;
				border-bottom: 1px solid $medium-gray;
				margin-bottom: 1rem;
				padding-bottom: 1rem;

				.alignleft {
					float: none;
					margin: 0 auto;
					padding: 0;
				}
			}
		}

		p {
			line-height: 2.5;
			font-size: .8rem;

			@media #{$small-only} {
				line-height: 1.6;
				margin-bottom: 0;
			}
		}
	}

	.footer-right {
		.widget_sp_image-description {
			margin-left: 128px;

			p {
				font-size: .7rem;
			}
		}
	}

	.fa {
		margin-right: .33rem;
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $medium-gray;
		}
	}

}

/* Post Footer */
.post-footer {
	border-top: 1px solid $medium-gray;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.simple-social-icons ul li a, .simple-social-icons ul li a:hover {
		background-color: transparent !important;
	}
}