/* Home Slider */
.home {
	.row.fullWidth {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}

	.home-top {
		background-color: $charcoal;
		margin-top: 0;

		.column, .columns {
			padding-left: 0;
			padding-right: 0;
		}

		h3 {
			color: $medium-gray;
			text-align: center;
			letter-spacing: 3px;
			margin: 0.5rem 0 1rem;
		}

		.sp-buttons {
			display: none;
		}

		.widget.widget_sp_image {
			padding-top: 1rem;
			background-image: url('images/footer-bg.jpg');
			background-size: cover;
		}
		
		@media #{$small-only} {
			margin-top: 6.35rem;
			
			.sp-mask.sp-grab {
				max-height: 300px;
			}
		}
	}
}

/* HOME Search Bar */

.home {
	.search-bar-outer {
		max-width: 69.375rem;
		position: relative;
	}
	
	.ui-multiselect-menu.ui-widget.ui-widget-content {
		width: auto !important;
		max-width: 95%;
	}
	
	.ui-widget-header a {
		color: $blue;
		font-weight: normal;
	}
	
	.ui-multiselect-checkboxes label {
		color: $dark-gray;
	}

	.search-bar {
	    position: absolute;
	    z-index: 1;
	    bottom: 16rem;
	    width: 100%;
	    background: transparent;
	    padding: 0;
	    
	    .mls_feed_search_widget_class {
		    display: none;
	    }
	    
	    .widget_sp_image {
	    	display: block;
    	}
	    
	    @media #{$large-up} {
		    background: rgba(250, 250, 250, 0.9);
			padding: 10px;
		    display: block;
		    
		    .widget_sp_image {
		    	display: none;
	    	}
	    	
	    	.mls_feed_search_widget_class {
			    display: block;
		    }
		}
		
		@media #{$small-only} {
			bottom: 11rem;
		}
	    
	    form.fls-mls-property-search .search-criteria {
		    display: inline-block;
		    padding: 0;
		    text-align: left;
		    margin: 0px 10px 0px 0px;
		    vertical-align: top;
		    
		    &.checkboxdrop .search-content, &.radiodrop .search-content {
			    font-size: .8rem;
			    border: none;
			    letter-spacing: 0;
			    padding: .5rem 0;
			    height: 2.05rem;
			    background-color: $white;
			    color: $dark-gray;
			    
			    a {
				    color: $dark-gray;
				    padding: .5rem;
			    }
		    }
		    
		    .fls-dropdown-toggle:after {
			    float: right;
			    margin-top: 3px;
			    font-size: .6rem;
			    padding-right: .5rem;
		    }
		    
		    .open > .fls-dropdown-toggle:after {
			    content: "\f00d";
			}
		    
		    .fls-dropdown-menu {
			    padding: 0;
			    background-color: $white;
			    
			    .standin {
			    	color: $dark-gray;
			    
				    &:before {
					    height: 15px;
					    width: 15px;
					    color: $dark-gray;
					    border: 1px solid;
				    }
				}
		    }
		    
		    label.checkbox-look, label.radio-look {
			    padding: 2px 15px 2px 8px;
			    border-bottom: 1px solid $white;
			    border-top: 1px solid $white;
			    font-size: 0.8rem;
			    
			    &:hover {
				    background-color: $gray-bg;
				    border-top: 1px solid $light-gray;
				    border-bottom: 1px solid $light-gray;
			    }
		    }
		    
		    .fls-dropdown-menu input:checked + .standin:before {
			    background-color: $dark-gray;
		    }
		    
		    &.mls_areas {
			    width: 20%;
		    }
		    
		    &.PropertyDesignation {
			    width: 20%;
		    }
		    
		    &.priceRange {
			    width: 20%;
			    vertical-align: bottom;
			    
			    span.title-text {
				    display: none;
			    }
		    }
		    
		    &.bedRange {
			    width: 12%;
		    }
		    
		    &.bathRange {
			    width: 12%;
			    margin: 10px 10px 10px 0px;
		    }
		    
		    &.sfRange {
			    width: 14%;
			    margin: 10px 10px 10px 0px; 
		    }
		    
		    &.acresRange {
			    width: 13%;
			    margin: 10px 10px 10px 0px; 
		    }
		    
		    &.subdivision {
			    width: 20%;
			    margin: 10px 10px 10px 0px; 
		    }
		    
		    &.quickSearch {
			    width: 12%;
			    margin: 10px 10px 10px 0px;
		    }
		    
		    [type='text'] {
			    border: none;
			    background-color: $white;
			    box-shadow: none;
			    font-family: $body-font-family;
				color: $dark-gray;
				font-size: .8rem;
				margin: 0;
				height: 2.05rem;
		    }
		    
		    div.mls_feed_search_range.from {
				width: 48%;
				margin: 0 2% 0 0;
				display: inline-block;
			}
			
			div.mls_feed_search_range.to {
				width: 48%;
				margin: 0 0 0 2%;
				display: inline-block;
			}
			
			button.ui-multiselect {
				max-width: 100%;
			}
		}
		
		.fls-mls-property-search {
			.mls-submit {
				display: inline-block;
				height: 2.05rem;
				vertical-align: bottom;
			}
		}
		
		.fls-mls-search-button.buttonBottom {
			margin-top: 0;
			height: 2.05rem;
		}
		
		.advanced-header {
			color: $blue;
			font-family: "trumpgothicpro", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			font-size: .8rem;
			letter-spacing: 1px;
			padding-top: 0;
			display: inline-block;
			float: right;
		}
		
		.advanced-header:after {
			display: block;
			content: "\f078";
			font-family: FontAwesome;
			border: none;
			background-color: transparent;
			font-size: .7rem;
		}
		
		button.ui-multiselect {
			background-color: $white;
			color: $dark-gray;
		}
	}
}

/* Home Featured Properties */
.row.featured {
	margin-bottom: 4rem;
	margin-top: 4rem;

	h2 {
		line-height: 0.7;
		margin-bottom: 0;
		text-align: center;

		@media #{$large-up} {
			margin-bottom: -35px;
			text-align: left;
		}
	}
}

.slick-slider {
	position: relative;

	.slick-prev, .slick-next {
	    font-size: 0;
	    line-height: 0;
	    position: absolute;
	    display: block;
	    width: 98px;
	    height: 250px;
	    top: 0;
	    padding: 0;
	    cursor: pointer;
	    color: transparent;
	    border: none;
	    outline: none;
	    background-color: rgba(0, 0, 0, 0.7);
	    
	    @media #{$small-only} {
		    display: none !important;
		    width: 0;
		} 
	    
	}

	.slick-prev {
	    left: 0;
	    z-index: 9;
	    top: 85px;
	}

	.slick-next {
	    right: 0;
	    z-index: 9;
	    top: 85px;
	}

	.slick-prev::before {
	    content: url('images/featured-arrow-left.png');
	}

	.slick-next::before {
	    content: url('images/featured-arrow-right.png');
	}

	.slick-prev:before, .slick-next:before {
	    font-family: 'FontAwesome';
	    font-size: 35px;
	    line-height: 2;
	    color: $white;
	    background-color: transparent;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

}

/* Home Page Featured Listings */
.home {
	.row.featured {
		.column, .columns {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.mls-listing.featured {
		display: inline-block;
		margin: 35px 10px 0;
		border: none;
		position: relative;
		padding: 0;
		box-shadow: 2px 2px 8px $light-charcoal;
		
		@media #{$small-only} {
			margin: 5px 10px 0;
		}
		
		.name {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
		}
		
		.info-overlay {
			background: rgba(0, 0, 0, 0.7);
			color: $white;
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0.5rem 1rem;
			font-size: .8rem;
		}
		
		a {
			color: $white;
			
			&:hover {
				color: $medium-gray;
			}
		}
		
		&.slick-slide {
			.sub-text {
				display: none;
				transition-duration: 0.5s;
			}
		}
		
		&.slick-slide.slick-center {
			/*margin: 0 10px;*/
			
			
			@media #{$medium-up} {
				li.Image {
					width: 400px !important;
					height: 300px !important;
					
					.backstretch {
						width: 400px !important;
						height: 300px !important;
					}
					
					img {
						width: 400px !important;
						height: 300px !important;
						left: 0 !important;
					}
				}
			}
			
			
			.sub-text {
				display: block;
				transition-duration: 0.5s;
				
				@media #{$small-only} {
					display: none;
				}
				
				&:before {
					content : " ";
					position: absolute;
					height  : 1px;
					width   : 30%;  
					border-top:1px solid $white;
				}
				
				li.LIST_22 {
					margin-top: 0.5rem;
					padding-top: 0.5rem;
				}
			}
		}
	}
}



/* Home Area Info */
.area-info {
	margin-bottom: 3rem;

	@media #{$small-only} {
		margin-bottom: 0;
	}

	.column, .columns {
		padding: 0;
	}

	.row {
		position: relative;

		.group-title.text-center {
			text-align: right;
			top: 6.7rem;
			right: 0;
			position: absolute;

			@media screen and (max-width: 64em) {
				top: 0;
			}

			@media screen and (max-width: 47.5em) {
				margin-bottom: 0;
				position: relative;
				text-align: center;
			}
		}

    .widget {
		  display:inline-block;
		  position: relative;
		  width:auto;
		  max-width: 50%;
      
      @media #{$small-only} {
	      max-width: 100%;
	      
	      a img {
		      width: 100%;
	      }
		}
		
      > a {
        display: block;
        overflow: hidden;
        position: relative;
      }
      h4 {
        position: absolute;
        z-index: 11;
        width: 100%;
        max-width: 600px;
        text-align: center;
        right: 0;
        color: $white;
        top: 50%;
        height: 0;
        font-size: 1.5625rem;
        margin: 0;
        line-height: 0;
        a {
      		color: $white;
      	}
      }

  		&:nth-of-type(2) {
        	top: 9.7rem;
        
        	@media #{$medium-only} {
	        	top: 6rem;
	        }
	        
	        @media #{$small-only} {
		        top: 0.1rem;
		    }
  		}

  		&:last-of-type {
	        top: 2.4rem;
	        left: -30rem;
	        z-index: 10;
        
        	@media #{$medium-only} {
	        	top: 1.5rem;
	        	left: -15rem;
	        }
	        
	        @media #{$small-only} {
		        top: 0.2rem;
		        left: 0;
		    }
  		}
    }

    .special-hover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 0px solid transparent;
      box-sizing: border-box;
      z-index: 5;
      &:hover {
        transition:
          border-color,border-width 0.25s linear;
        border-left-color: rgba(0,0,0,.4);
        border-right-color: rgba(0,0,0,.4);
        border-top-color: rgba(0,0,0,.1);
        border-bottom-color: rgba(0,0,0,.7);
        border-left-width: 300px;
        border-right-width: 300px;
        &.image-1 {
          border-top-width: 218.265px;
          border-bottom-width: 218.265px;
        }
        &.image-2 {
          border-top-width: 198.78px;
          border-bottom-width: 198.78px;
        }
        &.image-3 {
          border-top-width: 200px;
          border-bottom-width: 200px;
        }
      }
    }
    h4:hover + .special-hover-overlay {
      border-left-color: rgba(0,0,0,.4);
      border-right-color: rgba(0,0,0,.4);
      border-top-color: rgba(0,0,0,.1);
      border-bottom-color: rgba(0,0,0,.7);
      border-left-width: 300px;
      border-right-width: 300px;
      &.image-1 {
        border-top-width: 218.265px;
        border-bottom-width: 218.265px;
      }
      &.image-2 {
        border-top-width: 198.78px;
        border-bottom-width: 198.78px;
      }
      &.image-3 {
        border-top-width: 200px;
        border-bottom-width: 200px;
      }
    }
  }
}


/* Home Sub Footer */
.sub-footer {
	padding-top: 0;
	font-size: .9rem;
	margin-top: 0.25rem;

	@media #{$medium-up} {
		padding-bottom: 8rem;
		padding-top: 4rem;
		background-image: url('images/sub-footer-bg.jpg');
		background-position: top right;
		margin-top: 0;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 1rem;
		line-height: 1;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.column, .columns {
		padding: 0;
	}

	.sub-footer-left {
		background: url('images/sub-footer-left-bg.jpg') $charcoal;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 3rem 2rem;
		overflow: hidden;
		color: $white;
		text-align: justify;

		@media #{$large-up} {
			padding: 7rem 5rem 4rem;
		}

		@media #{$medium-only} {
			text-align: left;
		}

		a {
			color: $white;

			&:hover {
				color: $medium-gray;
			}
		}

		img.alignleft {
			margin-bottom: 120px;
			padding: 0;
			margin-right: 2rem;

			@media #{$medium-only} {
				margin-bottom: 1rem;
			}

			@media #{$small-only} {
				margin-bottom: 2rem;
			}
		}

		h4 {
			color: $white;
		}

		h5 {
			margin-bottom: 0;
		}
	}

	.sub-footer-right {
		padding: 3rem 2rem;

		@media #{$large-up} {
			padding: 7rem 5rem 4rem;
		}

		@media #{$small-only} {
			background-image: url('images/sub-footer-bg.jpg');
			background-position: top right;
			float: right;
		}

		h4 {
			color: $black;
		}
	}

	.gform_body {
		width: 80% !important;
		display: inline-block;
		float: left;

		@media #{$small-only} {
			width: 65% !important;
		}
	}

	.gform_footer {
		width: 19% !important;
		display: inline-block;
		padding: 0 !important;
		margin: 0 !important;

		@media #{$small-only} {
			width: 34% !important;
		}
	}

	.gform_wrapper {
		margin: 24px 0;

		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			background-color: $medium-gray;
			border: none;
			color: $white;
			text-transform: uppercase;
			padding: 1rem;
			height: 3.25rem;
			font-family: "trumpgothicpro", sans-serif;
			font-weight: 700;
			font-size: 1.25rem;
		}

		input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
			line-height: normal !important;
		}

		ul.gform_fields li.gfield {
			padding-right: 0;
			margin-top: 0;
		}

		.button {
			background-color: $black;
			height: 3.25rem;
			letter-spacing: 0;

			&:hover {
				background-color: $light-charcoal;
			}
		}

		.top_label div.ginput_container {
			margin-top: 0;
		}

		li.hidden_label input {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		font-size: 1.25rem;
		width: auto !important;
	}


	input::-webkit-input-placeholder { /* Chrome */
		color: $white;
	}

	input:-ms-input-placeholder { /* IE 10+ */
		color: $white;
	}

	input::-moz-placeholder { /* Firefox 19+ */
		color: $white;
		opacity: 1;
	}

	input:-moz-placeholder { /* Firefox 4 - 18 */
		color: $white;
		opacity: 1;
	}
}
