/* General UI */
button.ui-multiselect {
	font-family: $body-font-family;
	font-size: .8rem;
	padding: .5rem;
	border: none;
	letter-spacing: 0;
	height: 2.05rem;
}

.ui-widget {
	font-family: $body-font-family;

	/*&.ui-widget-content {
		width: auto !important;
	}*/
}

.ui-widget-header .ui-icon {
	margin-top: 1px;
	margin-right: 5px;
}

.ui-multiselect-menu {
	padding: 0;
}

.ui-multiselect-header {
	ul li {
		float: none;
		line-height: 1.5;
	}

	li.ui-multiselect-close {
		display: none;
	}
}

.ui-multiselect-checkboxes {
	font-family: $body-font-family;

	label {
		padding: 3px 10px 3px 1px;

		input {
			margin-left: 5px;
			margin-bottom: 5px;
			margin-right: 10px;
			top: 0;
		}
	}

	li {
		padding: 0;
	}
}

.ui-icon-triangle-1-s {
	background-position: -64px 0;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
	background-image: url('http://code.jquery.com/ui/1.12.0/themes/base/images/ui-icons_555555_256x240.png');
	background-position: -80px -128px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
}

/* General Settings */

.listing-map-view, .listing-gallery-view, .listing-list-view {
	#page-full-width {
		header {
			h1 {
				text-align: right;
			}
		}
	}
}

ul.mls-listing {
	border: none;
	padding: 0px;
}

.fls-options-top {
	border-top: 0;
	border-bottom: 1px solid;
	border-color: $medium-gray;

	@media #{$small-only} {
		margin: 0;
		border-bottom: none;
	}

	p.property-stats {
		color: $medium-gray;
		display: inline;
		margin-left: 1rem;
		
		@media #{$small-only} {
			display: none;
		}
	}
}

.fls-options-bottom {
	border: none;
}

div.mls_feed_search_range.from {
	width: 48%;
	margin: 0 2% 0 0;
	display: inline-block;
}

div.mls_feed_search_range.to {
	width: 48%;
	margin: 0 0 0 2%;
	display: inline-block;
}

.mls-view-options-tabs {
	display: inline;

	li {
		a {
		color: $light-gray;

		&:hover {
			color: $blue;
		}

			&.activeView {
				color: $blue;
			}
			line-height: 1;
			&:before {
				font-family: FontAwesome;
				font-size: 1.2rem;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&.list-view a {
			&:before {
				content: "\f00b";
			}
		}
		&.gallery-view a {
			&:before {
				content: "\f009";
			}
		}
		&.map-view a {
			&:before {
				content: "\f041";
			}
		}
	}
}

.mls-listings-page #mls-view-options-tabs li.icon:before {
	display: none;
}

#mls-view-options-tabs li, .mls-view-options-tabs li {
	padding: 0 0 0 1rem;
}

#mls-view-options-tabs li:first-of-type, .mls-view-options-tabs li:first-of-type {
	@media #{$small-only} {
		padding-left: 1rem;
	}
}

#mls-listing-sort-by {
	height: 24px;
	line-height: 20px;
	font-weight: 500;
	background-color: $light-gray;
	padding: 0 1.5rem 0 .5rem;
	float: left;
	margin-left: 1rem;
	border: none;

	@media #{$small-only} {
		background-color: $white;
		color: $light-gray;
		text-transform: uppercase;
		font-family: "trumpgothicpro", sans-serif;
		font-weight: 700;
		font-size: 1rem;
		width: 100%;
		margin: 0.5rem 0;
		height: 2rem;
	}
}

.page-template-page-area-map {
	
	@media #{$small-only} {
		.listings-outer-container {
			padding: 0 1rem;
		}
		
		#mls-listing-sort-by {
			background-color: $light-gray;
			color: $white;
		}
	}
}

select#mls-listing-sort-by {
	background-image: url('images/down-arrow-black.png');
	background-size: 9px 9px;

	@media #{$small-only} {
		background-image: url('images/down-arrow.png');
	}
}


/* Listing Pages Template */
.listing-pages {

	header {
		text-align: right;
		color: $light-gray;
		letter-spacing: 4px;
		margin-bottom: -70px;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;

		@media #{$small-only} {
			margin-bottom: -47px;

			h1.entry-title {
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: 24em) {
			display: none;
		}
	}
}

.mls-listing-page {
	article header {
		margin-bottom: -2rem;

		h1 {
			color: $blue;
			font-size: 1.5rem;
			margin-bottom: 0;
		}

		h6 {
			color: $medium-gray;
		}
	}
}


/* Other Pages Search Bar */
.listings-search-bar, .page-template-page-listings, .page {
	button.ui-multiselect {
		color: $dark-gray;
		max-width: 100%;
	}

	.ui-icon-triangle-1-s {
		background-position: -64px 0;
		background-image: url('http://code.jquery.com/ui/1.12.0/themes/base/images/ui-icons_ffffff_256x240.png');
	}

	.ui-state-active .ui-icon, .ui-button:active .ui-icon {
		background-image: url('http://code.jquery.com/ui/1.12.0/themes/base/images/ui-icons_ffffff_256x240.png');
		background-position: -80px -128px;
	}

	.ui-widget-header {
		background: $dark-gray;
		color: $white;
		border-left: 0;
		border-right: 0;

		a {
			color: $white;
			font-weight: normal;

			&:hover {
				text-decoration: none;
				color: $medium-gray;
			}
		}
	}

	.ui-widget.ui-widget-content {
		background-color: $light-charcoal;
		border: none;
	}

	.ui-widget-content .ui-state-hover {
	    border-top: 1px solid $light-gray;
	    border-bottom: 1px solid $light-gray;
	    border-left: none;
	    border-right: none;
	    background: $dark-gray;
	    font-weight: normal;
	    color: $white;
	}

	.ui-widget-header .ui-icon {
		background-image: url('http://code.jquery.com/ui/1.12.0/themes/base/images/ui-icons_ffffff_256x240.png');
	}

	.ui-multiselect-checkboxes {
		label {
			color: $white;
		}
	}

	.search-bar-outer {
		max-width: 100%;
		position: relative;
	}

	.search-bar {
	    position: absolute;
	    z-index: 1;
	    bottom: 0;
	    width: 100%;
	    background: url('images/footer-bg.jpg');
	    background-size: cover;
	    padding: 10px;
	    display: none;

	    @media #{$large-up} {
		    display: block;
		}

		.widget_sp_image {
	    	display: none;
    	}

	    h2 {
		    font-size: 2rem;
		    letter-spacing: 1px;
		    width: 20%;
		    float: left;
		    display: inline-block;
		    text-align: right;
		    line-height: 1;
		    margin-bottom: 0;
		    color: $white;
	    }

	    #mls_feed_search_widget-2 {
		    width: 80%;
		    display: inline-block;
	    }

	    form.fls-mls-property-search .search-criteria {
		    display: inline-block;
		    padding: 0;
		    text-align: left;
		    margin: 0px 10px 0px 0px;
		    vertical-align: top;

		    &.checkboxdrop .search-content, &.radiodrop .search-content {
			    font-size: .8rem;
			    padding: .5rem 0;
			    border: none;
			    letter-spacing: 0;
			    height: 2.05rem;
			    background-color: $light-charcoal;
			    color: $white;

			    a {
				    color: $white;
				    padding: .5rem;
			    }
		    }

		    .fls-dropdown-toggle:after {
			    float: right;
			    margin-top: 3px;
			    font-size: .6rem;
			    padding-right: .5rem;
		    }

		    .open > .fls-dropdown-toggle:after {
			    content: "\f00d";
			}

		    .fls-dropdown-menu {
			    padding: 0;
			    background-color: $light-charcoal;

			    .standin {
			    	color: $white;

				    &:before {
					    height: 15px;
					    width: 15px;
					    color: $white;
					    border: 1px solid;
				    }
				}
		    }

		    label.checkbox-look, label.radio-look {
			    padding: 2px 15px 2px 8px;
			    border-bottom: 1px solid $light-charcoal;
			    border-top: 1px solid $light-charcoal;
			    font-size: 0.8rem;

			    &:hover {
				    background-color: $dark-gray;
				    border-top: 1px solid $white;
				    border-bottom: 1px solid $white;
			    }
		    }

		    .fls-dropdown-menu input:checked + .standin:before {
			    background-color: $white;
		    }

		    &.mls_areas {
			    width: 20%;
		    }

		    &.PropertyDesignation {
			    width: 20%;
		    }

		    &.priceRange {
			    width: 20%;
			    vertical-align: bottom;

			    span.title-text {
				    display: none;
			    }
		    }

		    &.bedRange {
			    width: 12%;
		    }

		    &.bathRange {
			    width: 12%;
			    margin: 10px 10px 10px 0px;
		    }

		    &.sfRange {
			    width: 14%;
			    margin: 10px 10px 10px 0px;
		    }

		    &.acresRange {
			    width: 13%;
			    margin: 10px 10px 10px 0px;
		    }

		    &.subdivision {
			    width: 20%;
			    margin: 10px 10px 10px 0px;
		    }

		    &.quickSearch {
			    width: 12%;
			    margin: 10px 10px 10px 0px;
		    }

		    [type='text'] {
			    border: none;
			    background-color: $light-charcoal;
			    box-shadow: none;
			    font-family: $body-font-family;
				color: $white;
				font-size: .8rem;
				margin: 0;
				height: 2.05rem;
		    }

		    input.from {
			    color: $white;
		    }
		}

		.fls-mls-property-search {
			.mls-submit {
				display: inline-block;
				height: 2.05rem;
				vertical-align: bottom;
			}
		}

		.fls-mls-search-button.buttonBottom {
			margin-top: 0;
			height: 2.05rem;
			background-color: $white;
			color: $charcoal;

			&:hover {
				background-color: $medium-gray;
			}
		}

		.advanced-header {
			color: $white;
			font-family: "trumpgothicpro", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			font-size: .8rem;
			letter-spacing: 1px;
			padding-top: 0;
			display: inline-block;
			float: right;
		}

		.advanced-header:after {
			display: block;
			content: "\f078";
			font-family: FontAwesome;
			border: none;
			background-color: transparent;
			font-size: .7rem;
		}

		button.ui-multiselect {
			background-color: $light-charcoal;
			color: $white;
		}

		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color: $white;
		}

		.ui-multiselect-menu.ui-widget.ui-widget-content {
			width: auto !important;
			max-width: 95%;
		}

		/*.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-state-default .ui-icon {
			background-image: url('images/ui-icons_ffffff_256x240.png');
		} */
	}
}


/* Single Listing Page */
.mls-property-single-view {
	ul.mls-listing {
		border: none;

		@media #{$small-only} {
			li.fls-property-item.Features ul.mls-features > li {
				margin-left: 10px;
			}

		}

		.content-slideshow {
			width: 100%;
			display: block;
			margin-top: 36px;

			@media #{$large-up} {
				width: 60%;
				display: inline-block;
			}

			.sp-button {
			    width: 10px;
			    height: 10px;
			    border: none;
			    background-color: $light-gray;

			    @media #{$small-only} {
				    display: none;
			    }
			}

			.sp-selected-button {
				background-color: $white;
				border: 2px solid $medium-gray;
			    border-radius: 50%;
			}

			.sp-thumbnails {
				display: none;
			}
		}

		.tabs-content {
			width: 98%;
			margin-left: 1%;
			margin-right: 1%;
			margin-top: 1rem;
			display: block;
			border: none;
			vertical-align: top;
			font-size: .9rem;
			color: $black;

			@media #{$large-up} {
				width: 35%;
				margin-left: 2%;
				margin-top: 0;
				display: inline-block;
			}

			.tabs {
				border: none;
			}

			.tabs-panel {
				padding: 1.5rem;

				&.is-active {
					background-color: $light-gray;
					height: 500px;
					overflow: scroll;
					border-bottom: 20px solid $light-gray;

					/* Scroll Bar Overflow Areas */
					::-webkit-scrollbar {
						-webkit-appearance: none;
						width: 7px;
					}
					::-webkit-scrollbar-thumb {
						border-radius: 0;
						background-color: $light-charcoal;
						-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
					}
				}

				li.Request.Info.fls-property-item {
					overflow: hidden;
				}
			}

			.tabs-title {
				font-family: "trumpgothicpro", sans-serif;
				font-weight: 700;
				letter-spacing: 1px;
				text-transform: uppercase;

				a {
					color: $light-gray;
					font-size: 1rem;
					padding: 0 1.15rem;

					@media #{$small-only} {
					 	letter-spacing: 0;
					 	font-size: .9rem;
					 	padding: 0 .75rem;
				 	}
				}
			}

			.tabs-title > a:focus, .tabs-title > a[aria-selected='true'], tabs-title > a:hover {
				color: $blue;
				background: transparent;
			}

			li.tabs-title.is-active::after {
			    top: 100%;
			    left: 50%;
			    margin: 0 auto;
			    width: 0;
			    height: 0;
			    border: solid transparent;
			    border-width: 10px;
			    border-bottom-color: $light-gray;
			    content: '';
			    pointer-events: none;
			    display: block;
			}

			li.Features ul {
				margin-left: 0;
			}

			li.Request.Info {
				ul.mls-listing.active_listing {
					background-color: $charcoal;
					color: $white;
					margin: 0 !important;
					padding: .5rem 1rem;
				}

				.address li {
					margin-right: .25rem;
					font-weight: bold;
				}

				.gform_wrapper {
					padding: 0;
				}

				.gform_wrapper input, .gform_wrapper textarea {
					margin-top: 0;
					border: none;
					color: $black;
				}

				.gform_wrapper [type='text'] {
					box-shadow: none;
					padding: 0.5rem;
					margin-bottom: 0;
				}

				.gform_footer {
					padding: 0;

					.button, button {
						background-color: $black;
						color: $white;

						&:hover {
							background-color: $blue;
							color: $white;
						}
					}
				}
			}
		}

		li.fls-property-item.Features ul.mls-features > li {
			width: auto;
		}

		li.LIST_22.fls-property-item {
			font-weight: 400;
		}

		li.LIST_8.fls-property-item {
			position: relative;
			margin-bottom: .75rem;
			padding-bottom: .75rem;
		}

		li.LIST_8.fls-property-item::before {
			content : "";
			position: absolute;
			left    : 0;
			bottom  : 0;
			height  : 1px;
			width   : 30%;
			border-bottom:1px solid $black;
		}

		li.LIST_78.fls-property-item {
			margin-top: .75rem;
			padding-top: .75rem;
			border-top: 1px solid $black;
		}
	}

	h1 {
		color: $blue;
	}

	h6 {
		color: $medium-gray;
	}
}

/* List View */
#list-view {
	color: $dark-gray;
	font-size: .8rem;
	margin-top: 2rem;
	
	@media #{$small-only} {
		margin-top: 0;
	}

	ul.mls-listing.active_listing {
		li.fls-property-item.Image {
			display: inline-block;
			margin: 0 3rem 3rem 0;
			float: left;
			max-width: 450px;
			max-height: 350px;

			@media #{$medium-only} {
				 max-width: 40%;
				 max-height: 250px;
			}

			@media #{$small-only} {
				margin: 0 0 0.5rem 0;
				float: none;
				display: block;
				max-width: 100%;
				max-height: 300px;
			}
		}

		@media #{$medium-only} {
			li.LIST_8, li.LIST_77, li.LIST_105, li.LIST_57 {
				display: none;
			}
		}

		@media #{$small-only} {
			li.LIST_8, li.LIST_77, li.LIST_105, li.LIST_78, li.LIST_57 {
				display: none;
			}
		}

		li.more-link {
			margin-top: .5rem;
			margin-bottom: 1rem;

			@media #{$large-up} {
				margin-top: 0;

			}
		}
	}

	ul.mls-listing .street li {
		display: inline-block;
		padding-right: 0.3rem;
	}

	a.street {
		color: $blue;
		font-weight: bold;
		font-size: 1rem;

		&:hover	 {
			color: $medium-gray;
		}
	}

	.address {
		font-weight: bold;
		margin-bottom: .75rem;
		font-size: 1rem;
		line-height: 1;
	}

	li.LIST_22.fls-property-item {
		font-weight: 400;

		@media #{$small-only} {
			margin-bottom: 0;
		}
	}

	li.LIST_8.fls-property-item {
		margin-top: .75rem;
	}

	li.LIST_78.fls-property-item {
		margin-top: .75rem;
		padding: .75rem 0;
		border-top: 1px solid $light-gray;
		font-size: .8rem;
		padding-right: 0;
		width: 450px;
		display: inline-block;

		@media #{$medium-only} {
			width: 50%;
		}
	}

	a.more-link {
		color: $blue;
		text-transform: uppercase;
		font-family: "trumpgothicpro", sans-serif;
		font-weight: 700;
		letter-spacing: 1px;

		&:hover {
			color: $medium-gray;
		}
	}
}

/* Gallery View */

#gallery-view {
	color: $dark-gray;
	font-size: .8rem;
	margin-top: 2rem;
	margin-left: -1%;
	margin-right: -1%;

	@media #{$small-only} {
		margin-top: 0;
	}

	ul.mls-listing {
	    padding: 15px 0px;
	    position: relative;
	    margin-bottom: 2rem;
	    width: 48%;
	    margin: 0 1%;
	    display: inline-block;
	    vertical-align: top;

	    @media #{$large-up} {
		    width: 31.33%;
			margin: 0 1%;
		}

		@media #{$small-only} {
			li.fls-property-item.Image {
				max-height: 150px;
			}
		}

	    > .property-link {
			position: relative;
			display:block;

			.description {
			    position: absolute;
			    top: 0;
			    padding: 1rem 2rem;
			    color: white;
				display: none;
			}

			&:hover {
				transition-duration: 0.5s;
				img {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
				    filter: alpha(opacity=30);
				    -moz-opacity: 0.3;
				    -khtml-opacity: 0.3;
				    opacity: 0.3;
					transition-duration: 0.5s;
				}
				.description {
					display: block;
					transition-duration: 0.5s;

					@media #{$small-only} {
						display: none;
					}
				}
			}
		}
	}

	.backstretch {
		background: $black;
	}

	li.Image {
		margin-bottom: 10px;
	}

	ul.mls-listing .street li {
		display: inline-block;
		line-height: 1.1;
		margin-right: 2px;
		@media #{$large-up} {
			margin-top: 0;
		}
	}

	a.street {
		color: $blue;
		font-weight: bold;
		font-size: 1rem;

		&:hover	 {
			color: $medium-gray;
		}
	}

	.address {
		font-weight: bold;
		margin-bottom: .75rem;
		font-size: 1rem;
		line-height: 1;
	}

	li.LIST_22.fls-property-item {
		font-weight: 400;
	}

	li.LIST_78.fls-property-item {
		padding: .75rem 0;
		font-size: .8rem;
		padding-right: 0;
	}

	.bed-bath li {
		display: inline-block;
		margin-right: .25rem;
	}

	a.more-link {
		color: $blue;
		text-transform: uppercase;
		font-family: "trumpgothicpro", sans-serif;
		font-weight: 700;
		letter-spacing: 1px;

		&:hover {
			color: $medium-gray;
		}
	}

	.more-link {
		margin-top: 0.5rem;
	}
}

/* Map View */

.listing-map-view {

	.main-content-container {
		float: left;
		width: 100%;
		position: relative;
		padding-right: 450px;

		@media screen and (max-width: 50em) {
			padding-right: 0;
		}

		ul.mls-listing {
			color: $charcoal;
			font-weight: 400;
			line-height: 1.25;

			li.Image {
				margin-bottom: 10px;
			}

			.street li {
				display: inline-block;
				font-weight: bold;
				margin-right: 2px;
			}

			li.LIST_57, li.LIST_48, li.LIST_66, li.LIST_67, a.more-link {
				display: none;
			}
		}
	}

	#map {
		margin-right: 450px;

		@media screen and (max-width: 50em) {
			margin-right: 0;
			max-height: 350px !important;
		}

		ul.mls-listing {
			font-size: .8rem;

			.Image {
				float: none;
				max-width: 175px;
			}

			.street li {
				display: inline-block;
				font-weight: bold;
				margin-right: 2px;
			}

			.address li {
				background-color: transparent;
				padding: 0;
				border-bottom: none;
				font-weight: 400;
			}

			.bed-bath li {
				display: none;
			}

			.LIST_57, .LIST_48 {
				display: none;
			}

			.LIST_22 {
				font-weight: 400;
			}

			a.more-link {
				display: none;
			}

		}

	}

	#map-view {
		float: left;
		width: 400px;
		height: 600px;
		margin-left: -400px;
		overflow: auto;
	    position: relative;
	    z-index: 1;
	    font-size: .8rem;

	    @media screen and (max-width: 50em) {
		    width: 100%;
		    margin-left: 0;
	    }

		.property-details {
			padding: 20px 0;
			border-bottom: 1px solid $light-gray;

			&:hover,
			&.current-listing {
				background-color: rgba(247, 247, 247, 1);
			}
		}

		.Image {
			float: left;
			margin-right: 10px;
		}

		ul.mls-listing {
			margin-bottom: .5rem;
			line-height: 1.2;
			color: $medium-gray;

			.street li {
				display: inline-block;
				font-weight: bold;
				padding-right: 0.3rem;
			}

			.bed-bath li {
				display: inline-block;
				margin-right: .25rem;
			}

			.LIST_57, .LIST_48 {
				display: inline-block;
				margin-right: .25rem;
			}

			.address {
				margin-bottom: .75rem;
			}

			.LIST_22 {
				font-weight: 400;
			}

			li.more-link {
				margin-top: 1rem;
			}

			a.more-link {
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
}
