.off-canvas-wrapper-inner.is-off-canvas-open {
  min-height:100vh;
  z-index: 110;
}

.property-search {
  display:block;
  width: 100%;
  background-color: rgba(white,0.9);
  padding: 0.5rem;
  box-sizing: border-box;
  color: $charcoal;
  text-align: center;
  position: absolute;
  top: 56px;
  left: 0;
  text-transform: uppercase;
  &:visited,
  &:active,
  &:link {
    color: $charcoal;
  }
  &:hover {
    color: #a9a8a8;
  }
}

.mobile-search-text {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.search-glass {
  width: 16px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.off-canvas {
	&.mobile-search {
		background-color: rgba(white,0.95);
    header {
      display:flex;
      justify-content: space-between;
      padding: 10px;
      text-transform: uppercase;
      font-size: 1.4rem;
      border-bottom: 1px solid $charcoal;
      p {
        font-size: 1.2rem;
        margin-bottom:0;
      }
      .dashicons {
        line-height: 30px;
      }
    }
    form {
      text-transform: uppercase;
    }
    .search-title {
      margin-bottom: 0;
      padding: 10px 0;
    }
    .search-criteria {
      padding-left:20px;
      padding-right:20px;
      border-bottom: 1px solid #ccc;
      width: 100%;
      min-height: 40px;
    }
    input[type='checkbox'] {
      margin-bottom: 0;
    }
    input[type='text'] {
      background-color: transparent;
      box-shadow: none;
      margin-bottom: 2px;
    }
    .mls_feed_search_range {
      width: 100%;
      margin: 0;

    }
    .search-content {
      padding-top: 10px;
    }
    .priceRange {
      padding:0;
      margin: 0;
      div.from {
        border-bottom: 1px solid #ccc;
      }
      input {
        border: 0;
        padding-left: 20px;
        margin-bottom: 0;
      }
      .search-content {
        padding-top: 0;
      }
    }
    .fls-mls-property-search .search-criteria.toggler .search-title:after {
      float:right;
      font-weight: 100;
      font-size: 1.2rem;
    }
    .fls-mls-search-button.buttonBottom {
      width: 100%;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      text-transform: uppercase;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      text-transform: uppercase;
    }
    :-ms-input-placeholder { /* IE 10+ */
      text-transform: uppercase;
    }
    :-moz-placeholder { /* Firefox 18- */
      text-transform: uppercase;
    }
	}
}
.home .off-canvas-wrapper-inner .fls-mls-property-search .search-criteria {
  padding: 0;
  .search-title {
    padding: 10px 20px;
  }
}
