#featured-neighborhoods {
	text-align: center;

	button, .button {
		background-color: $blue;
		color: $white;
		margin-top: 25px;
	}

	&.featured-neighborhoods-map {
		max-width: 170px * 7;
		margin-left: auto;
		margin-right: auto;
	}

	span.neighborhood-name {
		position: absolute;
		top: 40%;
		width: 150px;
		background-color: rgba(255,255,255,0.8);
		text-transform: uppercase;
		padding: 5px 0;
		color: $blue;
		font-size: .8rem;
		z-index: 99;

		&:hover {
			color: $charcoal;
		}
	}
}

.neighborhood-description,
.neighborhood-intro {
	margin-top: 0;
}

.neighborhood-intro {
	margin-bottom: 0;
}

.sub-neighborhoods {
	list-style: none;
	text-align: left;
	margin-left: 0;
	li {
		list-style: none;
		display: inline-block;
		margin: 0 0.25rem 0 0;
		a {
			display: block;
			padding: 0.5rem 1rem;
			background-color: $blue;
			color: $white;
			&:hover,
			&.active {
				background-color: $charcoal;
			}
		}
	}
}


// Single Neighborhood
.single-neighborhood {
	.tabs {
		dd, .tab-title {

			> a {
				color: $blue;
				background-color: $charcoal;
				padding: 10px 20px 7px 20px;
				font-weight: 300;
				font-size: 1rem;
				text-align: center;

				&:hover {
					background-color: $blue;
					color: $white;
				}
			}

			&.active > a {
				background-color: $blue;
				color: $white;
			}
		}
	}
	.tabs-content {
		margin-top: 0;

		> .content {
			padding:0;
		}
	}
}