/* General Pages */
#page {
	max-width: 100%;
	width: 75rem;
}

// Resource Links on Recreation Page
img.resource-logo {
	max-width: 100px;
	float: left;
	margin-right: 2em;
}

.recreation-area-box {
	display: inline-block;
}

.resources {
	p {
		font-size: .8rem;
		line-height: 1.35;
	}
}

#page-full-width {
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: justify;
	
	.recreation-area {
		
		header h1 {
			margin: 0 0 1.25rem;
		}
		
		img.alignright, img.alignleft {
			max-width: 600px;
			margin-top: 1em;
			
			@media #{$medium-only} {
				max-width: 400px;
			}
			
			@media #{$small-only} {
				max-width: 100%;
				float: none;
			}
		}
	}
	
	header h1 {
	    max-width: 70rem;
	    margin: 0 auto 1.25rem;
	    /*margin-top: 4rem;
	    margin-bottom: -6rem;*/
    }
    
    header h1.entry-title-market {
	    max-width: 70rem;
	    margin: 0 0 1.25rem;
	    
	    a {
		    color: $light-gray;
	    }
	}
	
	img.alignright {
		margin-bottom: 2rem;
		margin-left: 3rem;
		
		@media #{$medium-only} {
			max-width: 60%;
		}
		
		@media #{$small-only} {
			margin-left: 0;
			padding-left: 0;
		}
	}
	
	img.left-space.alignleft {
		float: none;
		display: block;
		margin-bottom: 0;
	}
	
	img.alignleft {
		margin-bottom: 2rem;
		margin-right: 3rem;
		
		@media #{$medium-only} {
			max-width: 60%;
		}
		
		@media #{$small-only} {
			margin-right: 0;
			padding-right: 0;
		}
	}
	
	h1 {
		color: $light-gray;
		letter-spacing: 4px;
		line-height: 1;
		margin-bottom: 1.25rem;
		text-align: left;
	}
	
	.bottom-form {
		max-width: 90%;
		width: 90%;
		margin: 0px 0px 60px 10%;
		clear: both;
		
		form {
			background-color: $charcoal;
			color: $light-gray;
			padding: 1rem 2rem;
		}
		
		h1 {
			margin-bottom: -1.25rem;
		}
		
		@media screen and (max-width: 50em) {
			max-width: 100%;
			width: 100%;
			margin: 0;
		}
		
		.gform_wrapper {
		
			.gsection {
				margin: 0 !important;
				border-bottom: 0 !important;
			}
			
			h2.gsection_title {
				font-family: "trumpgothicpro", sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 1.5rem;
			}
			
			.top_label div.ginput_container {
				margin-top: 0;
			}
			
			.top_label li.gfield.gf_left_third, .top_label li.gfield.gf_middle_third, .top_label li.gfield.gf_right_third {
				margin-bottom: 0;
			}
			
			.gform_heading {
				width: 25% !important;
				float: left;
				border-left: 1px solid $light-gray;
				padding-left: 1rem;
	
				h3 {
					font-size: 1.5rem;
					letter-spacing: 1px;
				}
				
				@media screen and (max-width: 50em) {
					width: 100% !important;
				}
			}
	
			.gform_body {
				width: 70% !important;
				float: left;
				
				@media screen and (max-width: 50em) {
					width: 100% !important;
				}
	
				.ginput_container {
					select {
						background-color: $light-charcoal;
						color: $light-gray;
						border: none;
						margin-bottom: 0;
						padding: 0 2rem 0 1rem;
						background-image: url('images/down-arrow.png');
						background-size: 9px 9px;
					}
					
					input {
						background-color: $light-charcoal;
						color: $light-gray;
						border: none;
						margin-top: 0;
						margin-bottom: 0;
						padding: 0 2rem 0 1rem;
						background-size: 9px 9px;
					}
					
					input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder  {
						color: $light-gray;
					}
				}
			}
	
			.gform_footer {
				margin-left: 25%;
				
				@media screen and (max-width: 50em) {
					margin-left: 0;
				}
	
				.button, button {
					background-color: $light-gray;
					color: $black;
	
					&:hover {
						background-color: $medium-gray;
					}
				}
			}
		}
	}
}

.mls-listing-page {
	#page-full-width {
		header h1 {
		    max-width: none;
		}
	}
}

#page-edge-bleed {
	max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    font-size: .9rem;

    header h1 {
	    max-width: 70rem;
	    margin: 0 auto 1.25rem;
	    /*margin-top: 4rem;
	    margin-bottom: -6rem;*/
    }

    .content-column.one_half {
		padding: 1rem 2rem 2rem;
		text-align: justify;
		position: relative; 

		@media #{$small-only} {
			width: 100%;
		}

		@media #{$large-up} {
			padding: 0 5rem 4rem;
		}

		img.alignnone {
			position: absolute;
			right: 0;
			top: 0;
		}

		img.alignleft {
			display: block;
			float: none;
			margin-bottom: 1rem;
		}
	}

	h1 {
		color: $light-gray;
		letter-spacing: 4px;
		line-height: 1;
		margin-bottom: 1.25rem;
	}

	form {
		background-color: $charcoal;
		color: $light-gray;
		padding: 1rem 2rem;
	}
	
	.bottom-form {
		max-width: 90%;
		width: 90%;
		margin: 0px 0px 60px 10%;
		
		h1 {
			margin-bottom: -1.25rem;
		}
		
		@media screen and (max-width: 50em) {
			max-width: 100%;
			width: 100%;
			margin: 0;
		}
	}

	.gform_wrapper {
		
		.gsection {
			margin: 0 !important;
			border-bottom: 0 !important;
		}
		
		h2.gsection_title {
			font-family: "trumpgothicpro", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.5rem;
		}
		
		.top_label div.ginput_container {
			margin-top: 0;
		}
		
		.top_label li.gfield.gf_left_third, .top_label li.gfield.gf_middle_third, .top_label li.gfield.gf_right_third {
			margin-bottom: 0;
		}
		
		.gform_heading {
			width: 25% !important;
			float: left;
			border-left: 1px solid $light-gray;
			padding-left: 1rem;

			h3 {
				font-size: 1.5rem;
				letter-spacing: 1px;
			}
			
			@media screen and (max-width: 50em) {
				width: 100% !important;
			}
		}

		.gform_body {
			width: 70% !important;
			float: left;
			
			@media screen and (max-width: 50em) {
				width: 100% !important;
			}

			.ginput_container {
				select {
					background-color: $light-charcoal;
					color: $light-gray;
					border: none;
					margin-bottom: 0;
					padding: 0 2rem 0 1rem;
					background-image: url('images/down-arrow.png');
					background-size: 9px 9px;
				}
				
				input {
					background-color: $light-charcoal;
					color: $light-gray;
					border: none;
					margin-top: 0;
					margin-bottom: 0;
					padding: 0 2rem 0 1rem;
					background-size: 9px 9px;
				}
				
				input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder  {
					color: $light-gray;
				}
			}
		}

		.gform_footer {
			margin-left: 25%;
			
			@media screen and (max-width: 50em) {
				margin-left: 0;
			}

			.button, button {
				background-color: $light-gray;
				color: $black;

				&:hover {
					background-color: $medium-gray;
				}
			}
		}
	}
}

/* 4 column ready class ------------------------------------------------------*/
.gform_wrapper .top_label li.gfield.gf_one_quarter { 
	float:left; 
	margin-right: 0; 
	width: 25%; 
	clear:right !important; 
	
	@media #{$small-only} {
		width: 100%;
	}
}

.gform_wrapper .top_label li.gfield.gf_quarter_last { 
	margin-right:0; 
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_one_quarter { 
	width: 18%;
}

.gform_wrapper .top_label li.gfield.gf_one_quarter input.medium, .gform_wrapper .top_label li.gfield.gf_one_quarter input.large, .gform_wrapper .top_label li.gfield.gf_one_quarter select.medium, .gform_wrapper .top_label li.gfield.gf_one_quarter select.large { 
	width: 100%;
}

.gform_wrapper .top_label li.gfield.gf_one_quarter+li.gsection, .gform_wrapper .top_label li.gfield.gf_one_quarter+li.gsection { 
	padding: 16px 0 8px 0;
}

.gform_wrapper .top_label li.gfield.gf_one_quarter+li.gfield, .gform_wrapper .top_label li.gfield.gf_one_quarter+li.gfield, .gform_wrapper .top_label li.gfield.gf_one_quarter+li.gfield, .gform_wrapper .top_label li.gfield.gf_one_quarter+.gform_footer, .gform_wrapper .top_label li.gfield.gf_one_quarter+.gform_footer, .gform_wrapper .top_label li.gfield.gf_one_quarter+.gform_footer { 
	clear: both;
}

/* Sidebar Right Pages */
.page-template-page-sidebar-right {
	#page {
		margin-top: 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		align-items: stretch;
		
		.fullWidth {
			width: 100%;
		}
		
		@media screen and (max-width: 60em) {
			display: inherit;
			margin: 0;
		}	
			
		@media #{$large-up} {
			.large-8.columns {
				max-width: 66%;
				margin-left: 2%;
			}
		}

		.main-content {
			margin-top: 3rem;
			width: 100%;
			
			@media screen and (max-width: 60em) {
				width: 100%;
			}
		}
		
		.sidebar-container {
			@media screen and (max-width: 60em) {
				width: 100%;
			}
		}

		.sidebar {
			margin-top: 0;
			padding-top: 3rem;
		}
	}
}

/* Page Hero */
#featured-hero {
	@media #{$large-up} {
		 height: 26rem;
		 margin-top: -140px;
	}
	
	@media #{$small-only} {
		margin-top: 6.35rem;
		height: 8rem;
	}
}

.post-type-archive-neighborhood {
	#featured-hero {
		background-image: url('images/hero-areamap.jpg');
	}
}

/* Screen Width */
#page-screen-width {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    max-width: initial;
    margin-top: 0;
}
