.sidebar-outer {
	background: url('images/sidebar-bg.jpg') $gray-bg;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	
	@media #{$large-up} {
		background-position: center bottom;
		background-size: contain;
		height: 100%;
		width: 30%;
	}
}

.sidebar-container {
	/*width: 350px;
	background: url('images/sidebar-bg.jpg') $gray-bg;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;*/
	
	.sidebar {
		right: 0;
		margin-top: 0;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: 100%;
	
		/*@media #{$small-only} {
			width: 100%;
			position: relative;
			background: url('images/sidebar-bg.jpg') $gray-bg;
			background-position: right bottom;
			background-size: contain;
			background-repeat: no-repeat;
		}*/
	
		h3 {
			color: $medium-gray;
		}
	
		.rpwe-block::before {
			content: '';
			border-top: 1px solid $medium-gray;
			height: 3px;
			margin-top: -0.75rem;
			width: 95%;
			float: right;
			right: 0;
	
			@media #{$small-only} {
				width: 80%;
				float: none;
				right: auto;
			}
		}
	}
}