/* Logo Files */
li.home {
	text-indent: -9999px;
	padding: 8px;
}

li.home > a {
	background: url('images/logo@2x.png') no-repeat;
	/*min-height: 92px;
	width: 250px;*/
	min-height: 75px;
	width: 203px;
	background-size: contain;
}

/* Navigation */

.admin-bar .site-header {
	top: 32px;
}

.admin-bar .sticky.is-stuck.is-at-top {
	top: 32px !important;
}

#site-navigation {
	padding: 0.75rem 0.9375rem 0.3375rem;

	.above-navigation {
		display: none;

		.simple-social-icons ul li a, .simple-social-icons ul li a:hover {
			background-color: transparent !important;
		}

		.simple-social-icons ul li {
			margin: 0 6px 0 !important;
		}

		.simple-social-icons ul li a, .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus {
			padding: 9px 9px 0;
		}

		@media #{$large-up} {
			margin-top: 0.5rem;
			display: block;
		}
	}

	&.shrink {
		background-color: $charcoal;
		padding: 0 0.9375rem;

		li.home {
			padding: 12px 0 0 0;

			> a {
				background: url('images/logo@2x-shrink.png') no-repeat;
				min-height: 40px;
				width: 250px;
				background-size: contain;
			}
		}

		.above-navigation {
			display: none;
		}
	}
}

.top-bar {
	background-color: rgba(39, 39, 39, 0.8);

	ul {
		background-color: transparent;
	}

	.menu {
		a {
			color: $white;
			text-transform: uppercase;
			height: 50px;
			font-weight: bold;

			&:hover:not(.button) {
				background-color: transparent;
				color: $light-gray;
			}
		}

		> li:not(.menu-text) > a {
			padding: 1rem;
		}

		li:not(:last-child) {
			border-right: none;
		}

		.home a {
			color: $white;

			&:hover {
				background-color: transparent;
				color: $light-gray;
			}
		}

		.active > a {
			color: $white;
			background: transparent;
		}
	}

	.dropdown.menu .submenu {
		/*background-color: $charcoal;*/
		background-image: url('images/dropdown-bg.jpg');

		li:not(:last-child){
			border-bottom: 1px solid $dark-gray;
		}

		li:hover {
			border-bottom: 1px solid $white;
		}

		> li:not(.menu-text) > a {
			padding: 1rem;
			height: 45px;
			text-align: center;
		}

		a {
			color: $dark-gray;

			&:hover {
				color: $white;
			}
		}
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border: none;
	}
}

/* Mobile Navigation */
.site-header {
	position: fixed;
	z-index: 100;
	width:100%;
	top: 0;
}
.title-bar {
	position: fixed;
	z-index: 9;
	background: $charcoal;
	width: 100%;

	.title-bar-title > a {
		background: url('images/logo@2x-shrink.png') no-repeat;
		min-height: 40px;
		width:250px;
		display: block;
		background-size: contain;
		margin: 0 auto;

		@media screen and (max-width: 30em) {
			width: 70%;
			float: left;
		}
	}

	.title-bar-title {
		text-indent: -9999px;
		padding: 0;
		display: block;
		margin-top: 0;
	}
}

.off-canvas {
	background-color: $charcoal;
	z-index: 99;
	> ul.menu {
		padding: 1rem 0;
	}

	li {
		font-family: "europa", sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.9rem;

		a {
			color: $white;
			padding: 1.25rem 1rem;
			border-bottom: 1px solid $light-charcoal;

			&:hover {
				background-color: $medium-charcoal;
			}
		}
	}

	.menu.nested {
		margin-left: 0;
		background-color: $medium-charcoal;

		li a {
			padding: 1.25rem 1rem 1.25rem 2.25rem;
		}
	}

	.is-accordion-submenu-parent > a::after {
		content: '\f107';
		font-family: FontAwesome;
		color: $white;
		border: none;
		margin-top: -10px;
		right: 1.5rem;
		font-size: 1.25rem;
	}

	.is-accordion-submenu-parent[aria-expanded='true'] > a::after {
		top: 45px;
	}
}
